# Dependencies
node_modules
npm-debug.log*

# Environment
.env
.env.local
.env.production

# Logs
logs
*.log

# Runtime
*.pid
*.seed
*.pid.lock

# Coverage
coverage
.nyc_output

# Build
build
dist

# IDE
.vscode
.idea
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
